<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mazallpay">
    <!-- Anwar last changes on 07 Aug 2023 (OnBoarding done) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Dangerous permissions -->
    <!--
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    -->
    <uses-permission android:name="android.permission.CAMERA" />
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MazallApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_black"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_black_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mazall"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".Activities.other.ContactXActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.other.MultipleBankAccActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />

        <activity
            android:name=".Activities.veem.TrackingShipmentActivityAPINew"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.veem.VeemSupportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.UPSActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.other.CustomWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.ActivityBankingNew"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.ContactActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.other.TrackShipmentParcelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.TrackPayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.FedExPayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.VeemDetailsPayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.Account_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.VeemSuccessPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.PendingOrdersList"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.VeemActivityDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.VeemActivityForm"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.VeemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GetLabelMalcaDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.notification.ConfirmGroupInviteDLActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.notification.PayPreGroupNotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.NotificationListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.InventoryListDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GetLabelListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupInfoMemberTransactionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupInfoMembersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.ThemeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.ActivityBanking"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.invoicing.InvoicingListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.malcaamit.TrackShipmentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.PayPremiumGroupStripeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupMemberTransactionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.AddBankActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.PaymentDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.ShippingPartnerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupTransactionHistory"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.EditAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.invoicing.InvoicingDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.invoicing.AddInvoicingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.ManageAddressAct"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.malcaamit.GetLabelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.contact.ContactDetail"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.ClickToZoomImagesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.stripe.StripeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />

        <activity
            android:name=".Activities.signup.StripeActivityNOP"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.veem.VeemActivityWebView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.signup.VeemActivityWebViewNOP"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.other.WantToBuyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.NeedToQuoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.FedExActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".sum_sub.CheckoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".sum_sub.FirstAct"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.other.GroupTypeInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.other.PrintLabel"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.AddNewProduct"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.EditProduct"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.RenewSubscriptionPlan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.TransactionHistoryDetails"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.TransactionHistory"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.Place_A_Bid"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.BarCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.MazallWeb"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Activities.other.ProductImageZoom"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.ProductDetail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.CompanyProfile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.Authentication_IDs_Profile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupPlan_Discription"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupPlans"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.PlanHistory"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.Mazall_Plan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.Subscription_Plan_MainPage_From_Account"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.Change_Password"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.Authentication_IDs_MainPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.Profile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupRequests"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupInvite"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.ResetPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.other.Catalog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.PrivateChatInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.veem.VeemActivityWebViewBanking"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.PrivateMessage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.GroupMessages"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.JoinGroup"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.NewGroup"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.Notificaiton_For_Admin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction" />
        <activity
            android:name=".Activities.other.OnBoarding"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemewhiteaction">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mazallappstaging.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.other.AuthenticationIDs_After_MazallSubscription"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeblueaction"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.other.SubscriptionPlan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeblueaction"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.other.ProfileUpload"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.signup.ConcludedOneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.TutorialOneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.TutorialTwoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.SubscriptionPlanNOPActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.other.MobileVerificaiton"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.other.SignUp"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.GetStartedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.NameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.EmailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.PhoneNumberActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.ConcludedTwoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.ProfilePictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.EmailVerificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.ChoosePasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.ShippingPartnerNOPActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.ParcelProSignInNOPActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.MalcaSignInNOPActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.signup.ConnectWithVeemNOPActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.other.ForgotPass"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.other.Login"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.other.Splash2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding" />
        <activity
            android:name=".Activities.other.Splash1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NewOnBoarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".contact.ContactService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mazallpay.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>